/* Custom color theme properties */
:root {
  --f7-theme-color: #366989;
  --f7-theme-color-rgb: 54, 105, 137;
  --f7-theme-color-shade: #224f6b;
  --f7-theme-color-tint: #4185b1;
}
.menu_sidebar {
  background: linear-gradient(
    90deg,
    rgba(54, 105, 137, 1) 0%,
    rgba(33, 89, 125, 1) 100%
  );
}

/* Your app custom styles here */
.sidebar_logo {
  margin: 30px auto;
  display: block;
}
.bg_transparent {
  background: rgba(0, 0, 0, 0.5);
}
.bg_transparent ul {
  background: none;
}
/* Status Bar */
.break {
  flex-basis: 100%;
  height: 0px;
}
.status_bar {
  color: white;
  background: #5a87a1 !important;
  font-size: 9pt;
  font-weight: bold;
  height: 72px;
  border: 1px solid white;
}
.status_bar i {
  vertical-align: text-top;
  font-size: 12pt;
  margin-right: 2px;
  margin-top: -1px;
}
.status_bar .progress {
  border-top: 1px solid white;
  height: 40px;
  background-image: url("/assets/images/bg_bar_days_right@2x.png");
  background-size: 1024px 40px;
}
.status_bar .days_elapsed {
  height: 40px;
  background-image: url("/assets/images/bg_bar_days_elapsed@2x.png");
  background-size: 1024px 40px;
  border-right: 3px solid black;
  transition: 1s;
}
.status_bar .photo_goal {
  height: 20px;
  position: absolute;
  top: 29px;
  margin: 10px 0;
  background-image: url("/assets/images/bg_bar_approved@2x.png");
  background-size: 1024px 20px;
  transition: 1s;
  transition-delay: 0.5s;
  z-index: 51;
}
.status_bar .photo_combine {
  height: 20px;
  position: absolute;
  top: 29px;
  margin: 10px 0;
  background-image: url("/assets/images/bg_bar_new@2x.png");
  background-size: 1024px 20px;
  transition: 1s;
  transition-delay: 0.5s;
  z-index: 50;
}
.toolbar_status {
  border-right: none !important;
}
.toolbar_days_left {
  background: #3a7190 !important;
}
.status_bar .toolbar-inner {
  flex-wrap: wrap;
}
.toolbar_approved {
  width: calc(30% - 1px) !important;
}
.toolbar_new {
  width: calc(20% - 1px) !important;
}
.status_bar .warning {
  background: #cc3233;
}
.status_bar .ahead {
  background: #009933;
}
.status_bar .behind {
  background: #ff6632;
}
.status_bar .ontrack {
  background: #0bbb8f;
}
.quarter_width {
  width: calc(25% - 1px);
  text-align: center;
  line-height: 28px;
  border-right: 1px solid #3a7190;
  /* border-bottom: 1px solid white; */
}
.full_width {
  width: 100%;
  text-align: center;
}
/*  Status pullouts  */
.status_approved,
.status_ready {
  border-left: 8px solid #56b0a5;
}
.status_approved_pullout,
.status_ready_pullout {
  background: #56b0a5 !important;
}
.status_new {
  border-left: 8px solid #454545;
}
.status_new_pullout {
  background: #454545 !important;
}
.status_denied {
  border-left: 8px solid #cc3333;
}
.status_denied_pullout {
  background: #cc3333 !important;
}
/* Override the resizeable textarea height */
.list textarea.resizable {
  height: 70px;
}
.md .item-input-info {
  position: static;
  margin-bottom: 5px;
}
/* Image Preview */
#imagePreview {
  max-height: 175px;
  object-fit: contain;
}
.uploadSuccess,
.uploadFail {
  position: absolute;
  color: #4cd964;
  height: 175px;
  margin-top: -175px;
  width: 100%;
  z-index: 3000;
  font-size: 48pt;
  line-height: 175px;
  text-align: center;
  text-shadow: 0 2px 2px #000;
}
.uploadFail {
  color: #ff3b30;
}
.hidden {
  display: none;
}
/* Team members icons */
.smart-select-popup[data-select-name="people"] .item-media img {
  width: 45px;
  height: 45px;
  display: block;
  object-fit: cover;
  border-radius: 100%;
}
/* Fix Smart Select Invalid message */
.input-invalid + .item-input-error-message {
  display: block;
  position: absolute;
  bottom: 6px;
  right: 40px;
}
/* Denial message */
.denial-wrapper {
  padding: var(--f7-block-padding-vertical);
  marging: 0;
  background: #cc3333;
}
.denial {
  margin: 0 !important;
  display: flex;
}
.denial .list-group {
  list-style-type: none;
  width: calc(100% - 100px);
  padding: 0;
  margin: 0;
  display: inline-grid;
  transition: 2s all;
  /* min-height: 10px; */
}
.list-group-item-danger {
  font-weight: bold;
}
.large-icon {
  font-size: 60pt;
  width: 100px;
  max-height: 120px;
  color: transparent;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.5);
  background-color: #aaa;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  display: inline-grid;
  vertical-align: top;
  height: 100vh;
  align-content: center;
}
/* override toolbar height */
.ios,
.md {
  --f7-toolbar-height: 72px;
}
/* change smart select background color */
.smart-select-page .navbar-inner {
  background-color: var(--f7-theme-color) !important;
  color: white !important;
}
.smart-select-page .link {
  color: white !important;
}
.smart-select-page .subnavbar {
  background-color: var(--f7-theme-color) !important;
}
.ios .smart-select-page .searchbar-disable-button {
  color: white !important;
}
/* Help Page */
.fullwidth {
  width: 100%;
}
.screenshot {
  padding: 10px 0;
}
.no-space {
  margin: 0;
  padding: 0;
  display: block;
}
.image-box {
  width: 8px;
  height: 80px;
  vertical-align: middle;
  background: #454545;
  display: inline-block;
  margin-right: 10px;
}
.denied-image {
  background: #cc3333;
}
.approved-image {
  background: #56b0a5;
}
.popover.ios-install {
  width: 90%;
}
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.middle div {
  width: 80%;
}
/* login */
.md .item-input-focused .item-label, .md .item-input-focused .item-floating-label {
  color: inherit;
}
